element.style {
  padding-top: 55px;
}

.sec-bg3 {
  background-color: #201d1e;
}

.sec-normal {
  padding: 80px 0;
  position: relative;
  z-index: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.montserrat {
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
}

.section-heading {
  font-family: open sans;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  color: #bebebe;
  line-height: 34px;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

div {
  display: block;
}

.wpc-vps-info .content-price {
  position: relative;
  background-color: #191516;
  border-radius: 15px;
  padding: 30px;
}

#plan-name {
  font-size: 28px !important;
}

.wpc-vps-info .price,
#plan-name {
  font-size: 34px !important;
  font-family: open sans bold;
  display: -webkit-inline-box;
  color: #bbbbbd;
}

.wpc-cloud-range .slider-ui {
  padding: 80px 0;
}

.invisible {
  visibility: hidden !important;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.wpc-cloud-range .noUi-target {
  height: 7px;
  background: gray;
  border-radius: 15px;
  border: none;
  box-shadow: none;
}

.noUi-target {
  background: #fafafa;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-target {
  position: relative;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

element.style {
  transform: translate(0%, 0px) scale(0.363636, 1);
}
.wpc-cloud-range .noUi-connect {
  border-radius: 15px;
  border: none;
  box-shadow: none;
}
.wpc-cloud-range .noUi-connect {
  background-color: #51ae59;
}
.noUi-connect {
  background: #3fb8af;
}
.noUi-connect {
  height: 100%;
  width: 100%;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

element.style {
  transform: translate(-636.364%, 0px);
  z-index: 4;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-origin {
  height: 10%;
  width: 10%;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.wpc-cloud-range .noUi-horizontal .noUi-handle {
  box-shadow: none;
  top: -11px;
  width: 25px;
  height: 25px;
  margin-left: -10px;
  margin-right: 4px;
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
  outline: 0;
}
.wpc-cloud-range .noUi-horizontal .noUi-handle {
  background-color: #51ae59;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}
.noUi-handle {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  cursor: default;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.wpc-cloud-range .noUi-tooltip {
  position: absolute;
  width: 200px;
  margin-bottom: 12px;
  padding: 8px 0;
  color: #fff;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  line-height: 16px;
}
.wpc-cloud-range .noUi-tooltip {
  background-color: #51ae59;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-pips {
  position: absolute;
  color: #999;
}
.noUi-pips-horizontal {
  padding: 15px 0;
  left: 3px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker {
  position: absolute;
  background: gray;
  border-radius: 50%;
  margin-left: -1px;
  width: 4px;
  height: 4px;
}
.noUi-marker-large {
  background: #aaa;
}
.noUi-marker {
  position: absolute;
  background: #ccc;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

element.style {
  left: 54.5455%;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker {
  position: absolute;
  background: gray;
  border-radius: 50%;
  margin-left: -1px;
  width: 4px;
  height: 4px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker {
  position: absolute;
  background: gray;
  border-radius: 50%;
  margin-left: -1px;
  width: 4px;
  height: 4px;
}
.noUi-marker-large {
  background: #aaa;
}
.noUi-marker {
  position: absolute;
  background: #ccc;
}
.noUi-pips {
  position: absolute;
  color: #999;
}

element.style {
  left: 68.1818%;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker {
  position: absolute;
  background: gray;
  border-radius: 50%;
  margin-left: -1px;
  width: 4px;
  height: 4px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker {
  position: absolute;
  background: gray;
  border-radius: 50%;
  margin-left: -1px;
  width: 4px;
  height: 4px;
}
.noUi-marker-large {
  background: #aaa;
}
.noUi-marker {
  position: absolute;
  background: #ccc;
}
element.style {
  left: 77.2727%;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker {
  position: absolute;
  background: gray;
  border-radius: 50%;
  margin-left: -1px;
  width: 4px;
  height: 4px;
}

element.style {
  left: 81.8182%;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker {
  position: absolute;
  background: gray;
  border-radius: 50%;
  margin-left: -1px;
  width: 4px;
  height: 4px;
}
.noUi-marker-large {
  background: #aaa;
}

element.style {
  left: 81.8182%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

element.style {
  left: 86.3636%;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

element.style {
  left: 90.9091%;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker {
  position: absolute;
  background: gray;
  border-radius: 50%;
  margin-left: -1px;
  width: 4px;
  height: 4px;
}
.noUi-marker-large {
  background: #aaa;
}
.noUi-marker {
  position: absolute;
  background: #ccc;
}

element.style {
  left: 90.9091%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

element.style {
  left: 95.4545%;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker {
  position: absolute;
  background: gray;
  border-radius: 50%;
  margin-left: -1px;
  width: 4px;
  height: 4px;
}
.noUi-marker {
  position: absolute;
  background: #ccc;
}

element.style {
  left: 100%;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker {
  position: absolute;
  background: gray;
  border-radius: 50%;
  margin-left: -1px;
  width: 4px;
  height: 4px;
}
.noUi-marker-large {
  background: #aaa;
}
.noUi-marker {
  position: absolute;
  background: #ccc;
}
element.style {
  left: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

element.style {
  left: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wpc-vps-info .content-price {
  position: relative;
  background-color: #191516;
  border-radius: 15px;
  padding: 30px;
}
.card-addon {
  margin: -30px;
  margin-top: 150px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px 25px;
  border-top: 1px solid #201d1e90;
  background: #292929;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.wpc-cloud-range .noUi-tooltip {
  background-color: #51ae59;
}

.wpc-cloud-range .noUi-tooltip {
  position: absolute;
  width: 200px;
  margin-bottom: 12px;
  padding: 8px 0;
  color: #fff;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  line-height: 16px;
}

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.wpc-cloud-range .noUi-tooltip:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 0;
  position: absolute;
  bottom: -6px;
  left: 92px;
}
.wpc-cloud-range .noUi-tooltip:before {
  border-color: #51ae59 transparent transparent transparent;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.wpc-vps-info .price,
#plan-name {
  font-size: 34px !important;
  font-family: open sans bold;
  display: -webkit-inline-box;
  color: #bbbbbd;
}
.wpc-vps-info .price {
  font-size: 22px;
  margin-bottom: 2px;
}

.wpc-vps-info .price .symbol {
  font-size: 30px;
  display: inline-block;
}

.wpc-vps-info .price,
#plan-name {
  font-size: 34px !important;
  font-family: open sans bold;
  display: -webkit-inline-box;
  color: #bbbbbd;
}

.wpc-vps-info .price {
  font-size: 22px;
  margin-bottom: 2px;
}

.wpc-vps-info .price #cycle-val {
  font-size: 18px !important;
}

.wpc-vps-info .price,
#plan-name {
  font-size: 34px !important;
  font-family: open sans bold;
  display: -webkit-inline-box;
  color: #bbbbbd;
}

.wpc-vps-info .price {
  font-size: 22px;
  margin-bottom: 2px;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-green {
  color: #fff !important;
  border: none;
}
.btn {
  cursor: pointer !important;
  border: 1px solid gray;
  border-radius: 50px;
  color: gray;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  padding: 17px 26px;
  position: relative;
  background-color: transparent;
  letter-spacing: 0.02em;
  font-family: open sans semibold;
  box-shadow: 0 2px 8px 0 rgb(62 62 79 / 23%);
  -webkit-transition: all 300ms linear 0ms;
  -moz-transition: all 300ms linear 0ms;
  -ms-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
}
.btn-green {
  background-color: #51ae59 !important;
}
.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a {
  color: #51ae59;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.plan-picker {
  background: #191516;
  padding: 25px;
  border-radius: 15px;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

element.style {
  height: 46px;
}
select {
  word-wrap: normal;
}
button,
select {
  text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

element.style {
  height: 46px;
}
.form-control-dark {
  color: #fff;
  background-color: #201d1e;
}
select {
  word-wrap: normal;
}
button,
select {
  text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

element.style {
  color: #51ae59;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}
.plan-picker {
  background: #191516;
  padding: 25px;
  border-radius: 15px;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.h3,
h3 {
  font-size: 1.75rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

element.style {
  color: #51ae59;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.plan-picker {
  background: #191516;
  padding: 25px;
  border-radius: 15px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

hr {
  border-top: 1px solid rgba(200, 200, 200, 0.05);
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

element.style {
  height: 46px;
}
.form-control-dark {
  color: #fff;
  background-color: #201d1e;
}
select {
  word-wrap: normal;
}
button,
select {
  text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.form-control-dark {
  color: #fff;
  background-color: #201d1e;
}
.form-control {
  padding: 10px 15px;
  outline: 0;
  border-radius: 10px;
  font-size: 15px;
  font-family: open sans;
  color: #fff;
  box-shadow: none;
  border: 1px solid #434547;
  background: var(--bg-light);
  height: 40px;
}
select {
  word-wrap: normal;
}
button,
select {
  text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.h3,
h3 {
  font-size: 1.75rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

element.style {
  height: 46px;
}
.form-control-dark {
  color: #fff;
  background-color: #201d1e;
}
select {
  word-wrap: normal;
}
button,
select {
  text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
element.style {
  height: 46px;
}
.form-control-dark {
  color: #fff;
  background-color: #201d1e;
}
.form-control {
  padding: 10px 15px;
  outline: 0;
  border-radius: 10px;
  font-size: 15px;
  font-family: open sans;
  color: #fff;
  box-shadow: none;
  border: 1px solid #434547;
  background: var(--bg-light);
  height: 40px;
}

select {
  word-wrap: normal;
}
button,
select {
  text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.form-control-dark,
#choose-version {
  color: #fff;
  background-color: #201d1e;
}

select {
  word-wrap: normal;
}

.form-control-dark,
#choose-jar {
  color: #fff;
  background-color: #201d1e;
}

element.style {
  transform: translate(0%, 0px) scale(0.363636, 1);
}
.wpc-cloud-range .noUi-connect {
  border-radius: 15px;
  border: none;
  box-shadow: none;
}
.wpc-cloud-range .noUi-connect {
  background-color: #51ae59;
}
.noUi-connect {
  background: #3fb8af;
}
.noUi-connect {
  height: 100%;
  width: 100%;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-pips {
  position: absolute;
  color: #999;
}
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips-horizontal {
  padding: 15px 0;
  left: 3px;
}

element.style {
  left: 0%;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker {
  position: absolute;
  background: gray;
  border-radius: 50%;
  margin-left: -1px;
  width: 4px;
  height: 4px;
}
.noUi-marker-large {
  background: #aaa;
}
.noUi-marker {
  position: absolute;
  background: #ccc;
}
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

element.style {
  left: 0%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
  width: 2px;
}
