.wpc-vps-info .content-price {
  position: relative;
  background-color: #191516;
  border-radius: 15px;
  padding: 30px;
}

#plan-name {
  font-size: 28px !important;
}

.wpc-vps-info .price,
#plan-name {
  font-size: 34px !important;
  font-family: open sans bold;
  display: -webkit-inline-box;
  color: #bbbbbd;
}

ul.list-style-icon li {
  position: relative;
  padding-left: 26px;
}

.card-addon {
  margin: -30px;
  margin-top: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px 25px;
  border-top: 1px solid #201d1e90;
  background: #292929;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.btn-green {
  background-color: #51ae59 !important;
}

.btn-green {
  color: #fff !important;
  border: none;
}

.wpc-vps-info .price,
#plan-name {
  font-size: 34px !important;
  font-family: open sans bold;
  display: -webkit-inline-box;
  color: #bbbbbd;
}

.wpc-vps-info .price {
  font-size: 22px;
  margin-bottom: 2px;
}

.wpc-vps-info .price .symbol {
  font-size: 30px;
  display: inline-block;
}

.wpc-vps-info .list-style-icon li i {
  line-height: 25px;
}

.text-green {
  color: #51ae59 !important;
}

