.wpc-vps-info .content-price {
  position: relative;
  background-color: #191516;
  border-radius: 15px;
  padding: 30px;
}

#plan-name {
  font-size: 28px !important;
}

.wpc-vps-info .price,
#plan-name {
  font-size: 34px !important;
  font-family: open sans bold;
  display: -webkit-inline-box;
  color: #bbbbbd;
}

ul.list-style-nav,
ul.list-style-none,
ul.list-style-icon {
  list-style-type: none;
  padding-left: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul.list-style-icon li {
  position: relative;
  padding-left: 26px;
}

.card-addon {
  margin: -30px;
  margin-top: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px 25px;
  border-top: 1px solid #201d1e90;
  background: #292929;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.btn-green {
  background-color: #51ae59 !important;
}

.btn-green {
  color: #fff !important;
  border: none;
}

.wpc-vps-info .price,
#plan-name {
  font-size: 34px !important;
  font-family: open sans bold;
  display: -webkit-inline-box;
  color: #bbbbbd;
}

.wpc-vps-info .price {
  font-size: 22px;
  margin-bottom: 2px;
}

.wpc-vps-info .price .symbol {
  font-size: 30px;
  display: inline-block;
}

.wpc-vps-info .list-style-icon li i {
  line-height: 25px;
}

ul.list-style-icon li .fa,
ul.list-style-icon li .fas,
ul.list-style-icon li .far,
ul.list-style-icon li .fal,
ul.list-style-icon li .fab,
ul.list-style-icon li .material-icons {
  position: absolute;
  left: 0;
  width: 20px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-weight: 600 !important;
}

.fa,
.fas {
  font-family: "font awesome 5 free";
  font-weight: 900;
}
.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.wpc-vps-info .list-style-icon li i {
  line-height: 25px;
}

ul.list-style-icon li .fa,
ul.list-style-icon li .fas,
ul.list-style-icon li .far,
ul.list-style-icon li .fal,
ul.list-style-icon li .fab,
ul.list-style-icon li .material-icons {
  position: absolute;
  left: 0;
  width: 20px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-weight: 600 !important;
}
.text-green {
  color: #51ae59 !important;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.wpc-cloud-range .noUi-tooltip {
  position: absolute;
  margin-bottom: 12px;
  padding: 8px 0;
  color: #fff;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  line-height: 16px;
}
.wpc-cloud-range .noUi-tooltip {
  background-color: #51ae59;
}
